<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silicon</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <a class="logo-link" asp-controller="Default" asp-action="Home"><img src="~/images/logo.svg"></img></a>

            <nav>
                <a class="nav-link">Overview</a>
                <a class="nav-link">Features</a>
                <a class="nav-link">Contact</a>
            </nav>

            <div class="account-buttons">
                <a asp-controller="Auth" asp-action="SignIn" class="btn-secondary">
                    <i class="fa-regular fa-arrow-right-to-bracket"></i>
                    Sign In
                </a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme">
                    <i class="fa-regular fa-user"></i>
                    Sign Up
                </a>
            </div>

            <button class="menu-icon"><i class="fa-thin fa-bars"></i></button>
        </div>


    </header>

    <main>
        @RenderBody()
    </main>
    
    <footer>
        <div class="container">
            <nav>
                <a class="social-btn"><img src="~/images/social-medias/bxl-facebook-square.svg" alt="" /></a>
                <a class="social-btn"><img src="~/images/social-medias/bxl-twitter.svg" alt="" /></a>
                <a class="social-btn"><img src="~/images/social-medias/bxl-instagram-alt.svg" alt="" /></a>
                <a class="social-btn"><img src="~/images/social-medias/bxl-youtube.svg" alt="" /></a>
            </nav>

            <p class="footer-text">© 2024 Silicon. All rights reserved. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</h5>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/a041cc045c.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
