@{
    ViewData["Title"] = "Home";
}

<section class="showcase">
    <div class="container">



        <div class="content">
            <h1>
                Task Management Assistant You Gonna Love
            </h1>

            <img class="showcase-img" src="./images/showcase-image.svg" alt="">

            <p>
                We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.
            </p>

            <a class="btn-theme" href="#">Get started for free</a>
        </div>

        <div class="brands">
            <h6>Largest companies use our tool to work efficiently</h6>
            <img class="brands-img" src="./images/customer-example-logos.svg" alt="">
        </div>
    </div>
</section>

<section class="tool-showcase">
    <div class="container">

        <div class="text">
            <h1>What Do You Get with Our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</h5>
        </div>

        <ul class="content">
            <li class="tool-element">
                <div class="tool-card">
                    <img src="./images/tool-showcase/chat.svg" alt="">
                    <h5>Comments on Tasks</h5>
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </div>
            </li>

            <li class="tool-element">
                <div class="tool-card">
                    <img src="./images/tool-showcase/presentation.svg" alt="">
                    <h5>Tasks Analytics</h5>
                    <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                </div>
            </li>

            <li class="tool-element">
                <div class="tool-card">
                    <img src="./images/tool-showcase/add-group.svg" alt="">
                    <h5>Multiple Assignees</h5>
                    <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </div>
            </li>

            <li class="tool-element">
                <div class="tool-card">
                    <img src="./images/tool-showcase/bell.svg" alt="">
                    <h5>Notifications</h5>
                    <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                </div>
            </li>

            <li class="tool-element">
                <div class="tool-card">
                    <img src="./images/tool-showcase/test.svg" alt="">
                    <h5>Sections & Subtasks</h5>
                    <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                </div>
            </li>

            <li class="tool-element">
                <div class="tool-card">
                    <img src="./images/tool-showcase/shield.svg" alt="">
                    <h5>Data Security</h5>
                    <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                </div>
            </li>
        </ul>


    </div>

</section>