.details {
    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "sidebar list";
        margin-top: 25px;

        partial {
            grid-area: sidebar;
        }

        .details-form {
            grid-area: list;
        }
    }
}
