@mixin form-standard {
    @include font-standard;
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        @include font-semibold;
        color: var(--color-gray-900);
    }

    input {
        padding: 18px;
        border: 1px solid var(--color-gray-400);
        border-radius: 8px;

        &:focus {
            @include shadow-theme;
            outline-color: var(--color-theme);
        }

        &::placeholder {
            @include font-m;
            color: var(--color-gray-500);
        }
    }

    span {
        @include font-xs;
        background-color: rgba(239, 68, 68, 0.12);
        color: var(--color-error);
        border-radius: 4px;
        padding: 0 10px;
        width: fit-content;
    }

    span.valid {
        background-color: rgba(34, 197, 94, 0.12) !important;
        color: var(--color-success) !important;
    }
}
