<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    </head>
    <body>
        
        <partial name="~/Views/Partials/Sections/_Header.cshtml" />

        <main>
            @RenderBody()
        </main>
        <partial name="~/Views/Partials/Sections/_Footer.cshtml" /> 


        <script src="~/js/site.js" asp-append-version="true"></script>
        
    </body>
</html>
