@model SignUpViewModel
@{
    ViewData["Title"] = "Sign up";
}

<section class="signup">
    <div class="container">
        <h1>
            Create Account
        </h1>
        <p>Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in here.</a></p>

        <form method="post" asp-controller="Auth" asp-action="SignUp">

            <div>
                @ViewData["StatusMessage"]
            </div>

            <div class="firstname input-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>

            <div class="lastname input-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>

            <div class="email input-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="password input-group">
                <label asp-for="Password"></label>
                <input id="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="confirm input-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="checkbox-group">
                <div class="input-group">
                    <input asp-for="TermsAndConditions" />

                    <label asp-for="TermsAndConditions">I agree to the <a asp-controller="About" asp-action="Terms">Terms</a> and <a asp-controller="About" asp-action="Conditions">Conditions</a></label>

                </div>
                <span asp-validation-for="TermsAndConditions"></span>
            </div>

            <button class="btn btn-theme" type="submit">Sign up</button>

        </form>
    </div>
</section>
