@model UpdateUserViewModel

<section class="details">
    <div class="container">
        <partial name="../Partials/_AccountSidebar.cshtml" pageName />

        <div class="details-form">
            <h2>Account Details</h2>

            <form method="post" asp-action="Details" asp-controller="Account">
                <div>
                    @ViewData["StatusMessage"]
                </div>

                <div class="firstname input-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="lastname input-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="email input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="phone input-group">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>

                <div class="bio input-group">
                    <label asp-for="Bio"></label>
                    <input asp-for="Bio" />
                    <span asp-validation-for="Bio"></span>
                </div>

                <button class="btn btn-secondary">Cancel</button>

                <button class="btn btn-theme" type="submit">Save changes</button>

            </form>

            <form method="post" asp-action="Details" asp-controller="Account">

            </form>

        </div>

    </div>
</section>