<section class="details">
    <div class="container">
        <partial name="../Partials/_AccountSidebar.cshtml" pageName />

        <div class="details-form">
            <h1>Details</h1>
        </div>

    </div>
</section>