<section class="saved-courses">
    <div class="container">
        <partial name="../Partials/_AccountSidebar.cshtml" pageName/>

        <div class="course-list">
            <h2>Saved Items</h2>
        </div>

    </div>
</section>

