<section class="security">
    <div class="container">
        <partial name="../Partials/_AccountSidebar.cshtml"/>

        <div class="security-form">
            <h2>Security</h2>
        </div>

    </div>
</section>